
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 50px;
    
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
  
}

a {
    text-decoration: none;
}

/* Background */

.banner {
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
    /* height: 760px; */
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 250px 0; */

    /* background-image: url(../img/flower.jpg); */
    background-image: url(../img/pexels-photo-92380.webp);
    background-repeat: no-repeat;
    /* background-repeat: repeat-y; */
    /* background-size: contain; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-color: antiquewhite;
}

.banner-content {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.page-title,
.description {
    font-size: 14px;
    color: black;
}

/* Псевдоелементи */

.services-item {
    display: flex;
    align-items: center;
}

.services-item:not(:last-child) {
    margin-bottom: 40px;
}

.services-item::before {
    content: '';
    background-image: url(../img/free-icon-font-apps-3917618.svg);
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;

    margin-right: 30px;
    border-radius: 50%;
}

.services-item:hover::before {
    background-color: blue;
}

.services-item::after {
    content: '';
    background-image: url(../img/free-icon-font-apps-3917618.svg);
    background-size: contain;
    display: block;
    width: 40px;
    height: 40px;

    margin-left: 30px;
    border-radius: 50%;
}

.services-item:hover::after {
    background-color: teal;
}
.services-item:hover {
    color: red;
}
