body{
    /* font-family: 'Roboto', sans-serif; */
    letter-spacing: 0.03em;
}

.link:hover,
.link:focus{
    color: brown;
}

.title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
        /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}  



/* .text-list :nth-child(3n){
color: red;
} */

/* .text-list :nth-child(n+2) {
color: red;
} */

.capitalize{
     text-transform: capitalize;
    }

.uppercase{
    text-transform: uppercase;
}


/* Дана властивість дозволяє дати 
відступ першого рядка в абзаці. */
.lowercase{
text-transform: lowercase;
text-indent: 20px; 

 } 
